.news {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

.newsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.heading {
    margin-top: 10vh;
}