.navbarContainer {
    position: fixed;
    width: 1200px;
    height: 8vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-green);
    /* z-index: var(--z-modal); */
    background: #fff;
}

.icon {
    color: var(--secondary-green);
    font-size: 1.5rem;
}

.logo {
    height: 8vh;
}

.form {
    width: 300px;
    height: 6vh;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 1.5rem;
}

.searchQuery {
    width: 80%;
    outline: none;
    border: none;
    font-family: var(--body-font-third);
}

.querySubmit {
    width: 15%;
    outline: none;
    background-color: #fff;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.iconQuery {
    font-size: 1.5rem;
    color: var(--secondary-green);
}

.combineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.uploadContainer {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 2px solid var(--secondary-green);
    border-radius: 5px;
}

.profileContainer {
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile {
    width: 40px;
}

.logoutContainer {
    cursor: pointer;
}

.logoContainer {
    cursor: pointer;
}